html, body
{
    height: 100%;
}

.App {
    height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.notes-wrapper{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.list-notes-top{
  height: 500px;
  width: 30%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

}

.current-note{

  height: 500px;
  width: 68%;
  padding: 10px


}

.list-notes{



}

.list-item{
  border-bottom: 1px solid black;
  list-style: none;
  text-align: left;
  height: 30px;

}

input[type='text']{

  height: 30px;
  width: 100%;
  border: none;
  resize: none;
  color: blue;
  font-size: 25px;

}

textarea{

  height: 405px;
  width: 100%;
  border: none;
  resize: none;
  scroll-behavior: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
